@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}

.category-link:hover {
    color: #fff;
    background-color: #0d6efd;
    cursor: pointer;
}

#news-container img {
    object-fit: cover;
    object-position: top;
}

.author-info img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
}

.author-info p {
    margin-bottom: 0;
}

.openModal {
    cursor: pointer;
}

.card:hover .fa-arrow-right {
    animation: animate 1s linear 3;
}

@keyframes animate {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}


@media screen and (max-width: 992px) {
    #news-container img {
        max-height: 260px;
    }
}

@media screen and (min-width: 576px) {
    #sort-div {
        justify-content: space-between !important;
    }
}